<article class="flex items-center bg-[#0e001d] px-8 py-0 rounded-xl gap-16">
    <img [src]="item.product.image" width="200" [alt]="item.product.name">
    <div class="flex flex-col h-28 flex-1">
        <h2 class="text-xl"> {{item.product.name}} </h2>
    </div>
    <section class="flex flex-col items-center gap-4">
        <h3 class="text-sm text-zinc-400">Quantidade</h3>
        <div class="flex items-center border border-zinc-300 rounded-lg">
            <button
                [disabled]="item.quantity === 1"
                [ngClass]="{
                    'text-zinc-500 cursor-not-allowed': item.quantity === 1,
                    'px-2 py-0.5': true
                  }"
                (click)="removeItem()">
                <fa-icon [icon]="icons.minus" size="sm" />
            </button>
            <span class="border-x border-zinc-300 text-lg px-4 py-0.5">
                {{ item.quantity }}
            </span>

            <button
                [disabled]="item.quantity === 100"
                class="px-2 py-0.5 text-emerald-500"
                (click)="addItem()">
                <fa-icon [icon]="icons.plus" size="sm" />
            </button>
        </div>
        <button class="flex items-center gap-1 text-pink-600 select-none"
            (click)="removeProduct()">
            <fa-icon [icon]="icons.trash" size="lg" />
            Remover
        </button>
    </section>
    <section class="flex flex-col items-end">
        <p class="line-through text-zinc-400 text-sm">
            de {{item.product.basePrice | currency: 'BRL'}}
        </p>
        <div class="flex gap-1.5 items-baseline">
            <p class="text-sm">por</p>
            <p class="text-emerald-500 text-xl font-semibold">
                {{item.product.promotionalPrice | currency: 'BRL'}}
            </p>
        </div>
        <h4 class="text-xs text-zinc-300">Preço à vista no PIX/Boleto</h4>
        <p class="text-sm text-zinc-300 mt-4">Parcelamento no cartão</p>
        <div class="text-sm text-zinc-300">
            em até{{' '}}
            <p
                class="text-white font-semibold">{{installmentDetails!.numberOfInstallments}}x</p>
            de{{' '}}
            <p
                class="text-white font-semibold">{{installmentDetails!.installmentValue
                | currency: 'BRL'}}</p>
        </div>

    </section>
</article>