<a [routerLink]="['/product', product.id]"
    class="flex text-white flex-col bg-[#0e001d] border border-white/10 rounded-xl relative max-w-[350px] h-[484px] md:h-[456px]">
    <div class="absolute flex z-10 justify-end top-2.5 right-2.5">
        <app-item-review [rating]="product.rating" />
    </div>
    <figure class="w-full h-48 relative flex items-center justify-center">
        <img [src]="product.image" [alt]="product.name"
            class="object-contain max-w-full max-h-full" />
    </figure>
    <section class="flex-1 flex flex-col gap-3 p-5 border-t border-white/10">
        <h2 class="text-lg font-semibold"> {{product.name}} </h2>
        <p class="self-start text-sm border-b border-dashed">
            {{product.specifications.highlight}}
        </p>
        <div class="flex-1"></div>
        <section class="flex flex-col">
            <p class="text-sm text-gray-400 line-through">
                de {{ product.basePrice | currency: 'BRL' }}
            </p>
            <p class="text-xl font-semibold text-emerald-400">por
                {{product.promotionalPrice | currency: 'BRL'}}</p>
            <p class="text-zinc-400 text-xs">
                até 12x de R$120,00
            </p>
        </section>
        <button
            class="flex justify-center items-center gap-2 h-8 bg-violet-700 hover:border-2 border-emerald-500 rounded-full">
            <fa-icon [icon]="icons.cart"></fa-icon>
            <span>Adicionar</span>
        </button>
    </section>
</a>